// nextflow.config
// Global configuration for the DNA Processing Pipeline

process {
    executor = 'local'
    withName: 'complement' {
        container = 'biopython_local:latest'
    }
    withName: 'transcribe' {
        container = 'biopython_local:latest'
    }
    withName: 'translate' {
        container = 'biopython_local:latest'
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

timeline {
    enabled = true
}

report {
    enabled = true
}

trace {
    enabled = true
}

