// nextflow.config
//
// Configuration file for DNA Processing Pipeline
// Author: Gisela Pattarone
// Course: Especialización en Bioinformática - Trabajo Final Integrador
//

nextflow.enable.dsl = 2

process {
    cpus = 1
    memory = '1 GB'
    time = '10m'
    errorStrategy = 'terminate'
    publishDir = "results", mode: 'copy'
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'  // evita permisos root en outputs
}

profiles {

    // Perfil local: desarrollo o pruebas rápidas
    local {
        process.executor = 'local'
        docker.enabled = false
    }

    // Perfil Docker: entorno reproducible con contenedores
    docker {
        process.executor = 'local'
        docker.enabled = true
        process.container = 'biocontainers/biopython:1.79--pyhdfd78af_3'
    }

    // Perfil Cluster/Kubernetes: ejecución distribuida (solo demostrativo)
    cluster {
        process.executor = 'k8s'
        docker.enabled = true
        process.container = 'biocontainers/biopython:1.79--pyhdfd78af_3'
    }
}

timeline {
    enabled = true
    file = "$baseDir/reports/timeline.html"
}

trace {
    enabled = true
    file = "$baseDir/reports/trace.txt"
}

report {
    enabled = true
    file = "$baseDir/reports/report.html"
}

workDir = "$baseDir/work"
